.cabecera{
    --background:rgb(18,116,222);
}
h3{
    font-weight: bold;
}
ion-content{
    --background:rgb(18,116,222);
    --color:rgb(163, 163, 163);
}
.contenido{
    margin-left: 1%;
}
@media only screen and (min-width: 700px) {
    .card-menu{
        display: block;
        width: 100%;
    }
    .card-menu img{
        margin-left: 30%;
    }
    .contenido{
        margin-left: 2%;
    }
}