<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form [formGroup]="this.loginForm" (ngSubmit)="comprobar()">
      <ion-item>
        <ion-label class="labels">
          Email
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input class="inputs"  type="email" placeholder="Introduzca el email" formControlName="email" #email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labels">
          Contraseña
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input class="inputs"  [type]="passwordTypeInput" placeholder="Introduzca la contraseña" formControlName="password" #password></ion-input>
        <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
            <ion-icon  [name]="iconpassword"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-label class="enlace">
          ¿Olvidaste la contraseña? <a class="enlaceTotal" (click)="resetearPass()"> Pincha aquí </a>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="enlace">
          ¿No tienes cuenta? <a class="enlaceTotal" [routerLink]="['/register']"> Registrate </a>
        </ion-label>
      </ion-item>
      <ion-row>
        <ion-label color="danger"
            *ngIf="this.loginForm.controls.password.errors?.required">La contraseña no puede estar vacia</ion-label>
      </ion-row>
      <ion-row>
        <ion-label color="danger"
          *ngIf="this.loginForm.controls.email.errors?.required">El email no puede estar vacio</ion-label>
      </ion-row>
      <ion-row>
        <ion-label color="danger"
          *ngIf="this.loginForm.controls.email.errors?.email">Tiene que ser un email</ion-label>
      </ion-row>
      <ion-item>
        <ion-button id="iniciar" type="submit"><ion-icon name="enter-outline"></ion-icon> Iniciar Sesion</ion-button>
      </ion-item>
      <ion-item>
        <ion-button id="google" (click)="onGoogleLogin()">
          <ion-icon name="logo-google"></ion-icon>
           Iniciar Sesion Google</ion-button>
      </ion-item>
    </form>
    
    
</ion-content>
