<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Verifica tu email
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-label class="labels">No se ha verificado su email, vaya a su correo electrónico y verifique su email, una vez hehco esto intentelo de nuevo.</ion-label>
    </ion-item>
    <ion-item>
      <ion-button id="iniciar" [routerLink]="['/home']">Volver a Inicio</ion-button>
    </ion-item>
</ion-content>

