<body class="mat-app-background">
    <form [formGroup]="loginForm">
        <div class="container-login">
            <h4 class="login_text">Login</h4>
            <div class="login">
                <h4>Usuario </h4>
                <mat-form-field appearance="fill">
                    <mat-label>Introduzca el usuario</mat-label>
                    <input matInput type="text"
                        formControlName="usuario" #usuario>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
                  <mat-error *ngIf="this.loginForm.controls.usuario.errors">{{getErrorUsuarioMessage()}}</mat-error>
            </div>
            <div class="login">
                <h4>Contraseña </h4>
                <mat-form-field appearance="fill">
                    <mat-label>Introduzca la contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"
                        formControlName="password" #password>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                </mat-form-field>
                <mat-error *ngIf="this.loginForm.controls.password.errors">{{getErrorPassWordMessage()}}</mat-error>
            </div>
            <button type="button"
            class="btn btn-primary"
            (click)="this.isLogged()">Acceder
            </button>
        </div>
    </form>
</body>
