*{
    margin-left:1%;
    padding: 0.5%;
    text-align: center;
}
.container-login .mat-form-field + .mat-form-field {
    margin-left: 8px;
}
h4{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}
.login_text{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique;
    color: black;
}
