<form [formGroup]="this.jokeForm">
    <div class="card card-block">
        <h4 class="card-title">Añadir Broma</h4>
        <div class="form-group">
            <input type="text"
            class="form-control"
            formControlName="setup"
            placeholder="Enter the setup" #setup>
            <div *ngIf="this.jokeForm.controls.setup.errors?.required">
                Este campo es obligatorio.
            </div>
            <div *ngIf="this.jokeForm.controls.setup.errors?.minlenght">
                Este campo tiene que tener mínimo 6 caracteres.
            </div>
        </div>
        <div class="form-group">
            <input type="text"
            class="form-control"
            formControlName="punchline"
            placeholder="Enter the punchline" #punchline>
            <div *ngIf="this.jokeForm.controls.setup.errors?.required">
                Este campo es obligatorio.
            </div>
            <div *ngIf="this.jokeForm.controls.setup.errors?.minlenght">
                Este campo tiene que tener mínimo 6 caracteres.
            </div>
        </div>
        <button type="button"
        class="btn btn-primary"
        (click)="this.joke.addJoke(setup.value,punchline.value)">Añadir
        </button>
    </div>
</form>
