.rojo{
    background-color: red;
    text-align: center;
    color: white;
    font-size: 25px;
}
.azul{
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 25px;
}
.verde{
    background-color: green;
    text-align: center;
    color: white;
    font-size: 25px;
}