<form [formGroup]="loginForm" [ngClass]="{si: !this.service.getEstado(), no: this.service.getEstado()}">
    <div class="card card-block">
        <h4 class="card-title">Login</h4>
        <div class="form-group">
            <h4>Usuario: </h4>
            <input type="text"
            class="form-control"
            formControlName="usuario"
            placeholder="Enter the user" #usuario>
            <div *ngIf="this.loginForm.controls.usuario.errors?.required">
                Este campo es obligatorio.
            </div>
        </div>
        <div class="form-group">
            <h4>Contraseña: </h4>
            <input type="text"
            class="form-control"
            formControlName="password"
            placeholder="Enter the password" #password>
            <div *ngIf="this.loginForm.controls.password.errors?.required">
                Este campo es obligatorio.
            </div>
            <div *ngIf="this.loginForm.controls.password.errors?.minlenght">
                Este campo tiene que tener mínimo 8 caracteres.
            </div>
        </div>
        <button type="button"
        class="btn btn-primary"
        (click)="this.comprobador()">Acceder
        </button>
    </div>
</form>
