<ion-header>
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenid@</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card class="card-menu">
    <ion-img src="assets/images/logo.jpg"></ion-img>
    <ion-card-header class="contenido">
    </ion-card-header>
    <ion-card-content class="contenido">
      <p class="horario">Horario</p>
      <ul>
        <li>
          09:00 - 14:00 h
        </li>
        <li>
          16:00 - 22:00 h
        </li>
      </ul>
      <br>
      <p class="direccion">Calle Porvera nº9 11405, Jerez de la Frontera, Cádiz, España.</p>
      
    </ion-card-content>
  </ion-card>
</ion-content>
