.cabecera{
    --background:rgb(18,116,222);
}
.horario{
    margin-left: 25%;
    font-weight: bold;
}
ul li{
    margin-left: 18%;
    list-style: none;
}
.direccion{
    margin-left: 5%;
}
ion-content{
    --background:rgb(18,116,222);
}
ion-card{
    --background:rgb(18,116,222);
    --color:rgb(172, 159, 159);
    box-shadow: 2px 5px 7px #313131;
}
ion-card-title{
    --color:rgb(0, 0, 0);
}
ion-card-subtitle{
    --color:rgb(56, 53, 53);
}
@media only screen and (min-width: 700px) {
    .card-menu{
        display: block;
        width: 100%;
    }
    .card-menu img{
        margin-left: 30%;
    }
    .contenido{
        margin-left: 30%;
    }
}