<div class="card card-block" [ngClass]="{si: !this.service.getEstado(), no: this.service.getEstado()}">
    <h4 class="card-title">Añadir Noticia</h4>
    <div class="form-group">
        Título:
        <input type="text"
        class="form-control"
        formControlName="setup"
        placeholder="Enter the title" #setup>
    </div>
    <div class="form-group">
        Contenido:
        <input type="text"
        class="form-control"
        formControlName="punchline"
        placeholder="Enter the text" #punchline>
    </div>
    <button type="button"
    class="btn btn-primary"
    (click)="this.service.addNoticia(setup.value,punchline.value,this.fecha)">Añadir
    </button>
</div>
